.submitButton {
    background-color: #9A2337;
    height: 50px;
    border-radius: 10px;
    color: white;
    font-size: 15px;
    font-weight: bold;
    border: 2px solid #20233A;
}

.disabledButton {
    opacity: 0.5;
}

.formInput {
    height: 50px;
    border-radius: 10px;
    background-color: #20233A;
    color: white;
    font-size: 15px;
    padding: 0 10px;
    border: 2px solid #9A2337;
}

.form {
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 20px;
}